body  {
        background-image: url("images/gedung.jpg");
        background-repeat: no-repeat;
        background-size:cover;
}

/* #textcard {
    opacity: 100%;
}

#cardbox{
    opacity: 50%;
} */
